@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.nav .title {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: normal;
  color: #0290ff;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 15px;
}

nav li {
  list-style: none;
  padding: 5px 15px;
  font-weight: 600;
}

.profile {
  width: 2rem;
  height: 2rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}
