@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6.25rem;
  height: 5.9rem;
}

.panel-bg {
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 15px;
  align-items: baseline;
  gap: 2.5rem;
}

nav li {
  list-style: none;
}

.nav li:nth-child(1) {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: normal;
  color: #0290ff;
}

nav li a {
  text-decoration: none;
  font-size: 0.813rem;
  font-weight: normal;
  color: #121212;
}

.nav li:nth-child(3) a {
  opacity: 0.5;
}

.profile {
  width: 2rem;
  height: 2rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}
